<div id="ribbon_bar">
    <ng-container *ngFor="let menu of menus;let i = index">
      <input type="radio" name="menu" id="{{menu.id}}" [checked]="i === 0">
      <label for="{{menu.id}}">{{menu.title}}</label>
      <section>
        <main *ngFor="let group of menu.groups;">
          <div>
            <header-button (click)="onButtonClick(item.id)" icon="{{item.icon}}" text="{{item.text}}" *ngFor="let item of group.items;"></header-button>
          </div>
          <footer>{{group.title}}</footer>
        </main>
      </section>
    </ng-container>
</div>