<div class="h-100 w-100 d-flex flex-column">

  <div id="title_bar">
    DataCleaner
  </div>

  <ribbon-menu (buttonClick)="handleButtonClick($event)"></ribbon-menu>
  <div class="flex-grow-1">
    <div class="h-100 w-100 d-flex flex-row">

      <sidebar (loadFileId)="loadFile($event)"></sidebar>

      <div class="flex-grow-1">
        <div class="h-100 w-100 d-flex flex-column">
            <data-grid class="flex-grow-1"></data-grid>

          <div id="status_bar">

            <input type="radio" name="status_bar" id="status_bar_validations" checked />
            <label for="status_bar_validations">Validations</label>

            <div id="validations" class="overflow-scroll px-2">
              <div (click)="editCell(error.line, error.column)" *ngFor="let error of validationErrors;">
                <span class="material-symbols-outlined">error</span>
                <span>{{error.error}} <small>:{{error.line + 1}}</small></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
