
<div id="side_tabs">
    <span *ngFor="let icon of lateralIcons; let i = index" 
    [class.active]="lateralTab === icon.id" 
    class="material-symbols-outlined" 
    (click)="toggleLateralTab(icon.id)">
      {{icon.icon}}
    </span>
</div>
  

  <div class="side_panel" [class.d-none]="lateralTab !== 'tab_config'" id="tab_config">
    <h1>Config</h1>

    Color: <input type="color" value="#ff0000" />
  </div>

  <div class="side_panel" [class.d-none]="lateralTab !== 'tab_files'" id="tab_files">
    <h1>Files</h1>
    <header class="text-end">
      <button (click)="newFile()">
        <span class="material-symbols-outlined">add_box</span>
      </button>

      <button (click)="deleteFile()">
        <span class="material-symbols-outlined">delete</span>
      </button>
  </header>

    <ul>
      <li *ngFor="let file of files; let i = index"
          [class.selected]="file.id === selectedFile"
          (click)="highlightFile(file.id)" 
          (dblclick)="openFile()">
          <span class="material-symbols-outlined">draft</span> {{ file.name }}
      </li>
    </ul>

  </div>