:host {
    width: 72px;
    height: 72px;
    text-align: center;
    font-size: 11px;
    float: left;
    padding: 8px;
}

:host:hover {
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
}

span {
    font-size: 25px;
    display: block;
}