* {
    box-sizing: border-box;
}

:root {
    --accent-bg-color: #2b589b;
    --accent-bg-color-50: rgba(43, 88, 155, 0.2);
    --accent-text-color: #fff;

    --border-color: #ccc;
    --panel-bg-color: #f5f5f5;
}
  


body {
    font-size: 14px;
    overflow: hidden;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
    height: 100%;
}



/*Header and "fake header" when selects a cell, row or column */
.ag-cell.bg-selected.bg-fake-header, 
.ag-cell.bg-fake-header.bg-range-selected,
.bg-range-selected.ag-header-cell {
    background-color: var(--accent-bg-color) !important;
    color: var(--accent-text-color) !important;
    font-weight: bold;
}

/* Transparent border to prevent movements when cell has focus */
.ag-cell{
    border: 1px solid transparent !important;
    border-right: 1px solid #ccc !important;
}

/* Border of selected cell */
.ag-cell.bg-selected:not(.bg-fake-header) {
    border: 1px solid var(--accent-bg-color) !important;
}

/* Cell when selects a column or row */
.ag-cell.bg-range-selected {
    background: var(--accent-bg-color-50) !important;
}

/* Transform regular cells into something that looks like a "header" */
.bg-fake-header {
    background-color: #f8f8f8 !important;
    border-right: 1px solid #dde2eb !important;
}

.ag-header-cell {
    border-right: 1px solid var(--border-color) !important;
}

/* Resize of header*/
.ag-header-cell-resize {
    width: 0px !important;
    right: 0 !important;
}
.ag-header-cell-resize::after {
    height: 30px !important;
    top: 0 !important;
    background-color: transparent !important;
}  

/* Removes hover background over row */
.ag-row-hover::before{
    background-color: transparent !important;
}
  

.ag-root-wrapper {
    border-left: 0px !important;
    border-radius: 0 !important;
}